Source: ukui-biometric-manager
Section: x11
Priority: optional
Maintainer: Ubuntu Kylin Team <ubuntukylin-member@list.launchpad.dev>
Build-Depends: debhelper (>= 11),
	       qtbase5-dev,
	       qttools5-dev-tools
Standards-Version: 3.9.5

Package: ukui-biometric-manager
Architecture: amd64 arm64
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	 ${bio-app-api:Depends},
	 biometric-auth,
	 libpam-biometric
Conflicts: kylin-fingerprint, kylin-fprint-login
Description: Manager for biometric authentication
 This package is a tool to manage the drivers of biometric devices and
 users' features and manage whether biometric authentication is enabled.
 The service is provided by biometric-authentication.service in
 biometric-auth package.
