[Desktop Entry]
Name=Biometric Manager
Name[zh_CN]=生物识别管理工具
Comment=Biometric Manager
Comment[zh_CN]=生物识别管理工具
Icon=biometric-manager
Exec=/usr/bin/biometric-manager
Keywords=Settings
Terminal=false
Type=Application
Categories=Qt;System;Utility;Core;
