[Desktop Entry]
Type=Application
Name=生物特征管理工具
Comment=生物特征管理工具
Icon=/usr/local/biometric-manager/icon.png
Exec=biometric-manager
Terminal=false
Categories=GTK;System;Utility;Core;
OnlyShowIn=MATE;
